
<!-- header.component.html -->

<header></header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#">Home <i class="bi bi-arrow-up"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Raw Upload <i class="bi bi-cloud-arrow-up"></i></li>
  </ol>
</nav>

<div class="container-fluid -flex flex-column ">
  <div class="row">
    <div class="col-md-1 bg-color">
        <nav class="nav flex-column spacing">
          <i class="bi bi-person"></i>
          <i class="bi bi-envelope"></i>
          <i class="bi bi-gear"></i>
          <i class="bi bi-box-arrow-right"></i>
        </nav>
    </div>
    <div class="col-md-11">
      <router-outlet></router-outlet>
    </div>
</div>
</div>